body {
  overflow-x: hidden;
}
.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item.active {
  border-left: 3px solid green;
}

.carousel-img-1 {
  background-image: url(../img/image1.jpg);
  min-height: 400px;
  background-size: cover;
}

.carousel-img-2 {
  background-image: url(../img/image2.jpg);
  min-height: 400px;
  background-size: cover;
}
.carousel-img-3 {
  background-image: url(../img/image3.jpg);
  min-height: 400px;
  background-size: cover;
}
#home-heading-section {
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#video {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

#blog-header,
#about-us-header,
#services-header {
  min-height: 200px;
  background: url("../img/image1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -360px;
}

img#tecnology {
  margin-top: -4.5rem;
}

#faq div.card {
  background: #333;
  color: white;
}

#faq .card-body {
  background: rgba(18, 134, 47, 0.431);
  color: white;
}

#faq .card .card-header a {
  text-decoration: none;
  color: white;
}

.card @media (max-width: 768px) {
  .nav-item {
    padding-left: 1rem;
  }
  #home-heading-section {
    min-height: 300px;
  }
}
